@font-face {
  font-family: "Monocraft";
  src: url("/public/fonts/Monocraft.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Monocraft";
  src: url("/public/fonts/Monocraft-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

* {
  font-family: "Monocraft", sans-serif;
  font-weight: 500;
}

.text-red-shadow {
  color: var(--color-bright-red);
  text-shadow: var(--shadow-text-red);
}